# .NET build folders
bin/
obj/

# publish output
publish/

# VS Code
.vscode/

# environment files
.env
/wwwroot/uploads/products
/.gitignore
/.vs
/.gitignore
/.gitignore
/.vs/ReactPosApi/v18/.futdcache.v2
/.gitignore
/.gitignore
/.gitignore
