################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Asyntexpos/v17
/.vs/ReactPosApi/CopilotIndices/17.14.1601.40145
/.vs/ReactPosApi/FileContentIndex
/.vs/ReactPosApi/CopilotIndices/17.14.1661.41761
