################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Asyntexpos/v17
/.vs/ReactPosApi/CopilotIndices/17.14.1601.40145
/.vs/ReactPosApi/FileContentIndex
/.vs/ReactPosApi/CopilotIndices/17.14.1661.41761
/.vs/ReactPosApi/CopilotIndices/17.14.1679.25730
/obj/project.assets.json
/obj/project.nuget.cache
/obj/ReactPosApi.csproj.nuget.dgspec.json
/obj/ReactPosApi.csproj.nuget.g.props
/obj/Debug/net8.0/ReactPosApi.AssemblyInfo.cs
/obj/Debug/net8.0/ReactPosApi.AssemblyInfoInputs.cache
/obj/Debug/net8.0/ReactPosApi.assets.cache
/obj/Debug/net8.0/ReactPosApi.csproj.AssemblyReference.cache
/obj/Debug/net8.0/ReactPosApi.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/ReactPosApi.GlobalUsings.g.cs
/obj/Debug/net8.0/rpswa.dswa.cache.json
